In [41]:
import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F
from pyspark.sql.window import Window

spark = SparkSession \
        .builder \
        .appName("Ejemplo de Spark") \
        .getOrCreate()

spark

In [42]:
df = spark.read.csv("../data/IBEX35")
df.show()

# Does not read headers

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|   _c0|       _c1|     _c2|      _c3|   _c4|         _c5|     _c6|     _c7|     _c8|     _c9|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [49]:
df = spark.read.option("header", "true").csv("../data/IBEX35")
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [4]:
print(f"The number of tickers is {df.count()}")
print(f"The data colums are {df.columns}")

The number of tickers is 8575
The data colums are ['Ticker', 'Date', 'Close', 'Reference', 'Volume', 'Turnover', 'Last', 'High', 'Low', 'Average']

In [5]:
df = df.withColumn("Aumento_valor", df.Close > df.Reference)
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
only showing top 20 rows

In [6]:
df.filter(df.Ticker == "REP").show(5)

df.filter((df.Ticker == "REP") & (df.Aumento_valor == "true")).show(5)

+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|Ticker|      Date|  Close|Reference|  Volume|    Turnover|   Last|   High|    Low|Average|Aumento_valor|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|   REP|02/01/2019|14.2350|  14.0800|10003999|140210096.55|14.2350|14.3100|13.7850|14.0805|         true|
|   REP|03/01/2019|14.2550|  14.2350|12814838|180613397.06|14.2550|14.3800|14.0250|14.2255|         true|
|   REP|04/01/2019|14.5950|  14.2550| 7089672|103139023.91|14.5950|14.7050|14.3600|14.5892|         true|
|   REP|07/01/2019|14.4750|  14.5950| 4409347| 63898025.48|14.4750|14.6950|14.3300|14.4915|        false|
|   REP|08/01/2019|14.4900|  14.4750|12227338|177321179.12|14.4900|14.7900|14.4400|14.5760|         true|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
only showing top 5 rows

+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|Ticker|      Date|  Close|Reference|  Volume|    Turnover|   Last|   High|    Low|Average|Aumento_valor|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|   REP|02/01/2019|14.2350|  14.0800|10003999|140210096.55|14.2350|14.3100|13.7850|14.0805|         true|
|   REP|03/01/2019|14.2550|  14.2350|12814838|180613397.06|14.2550|14.3800|14.0250|14.2255|         true|
|   REP|04/01/2019|14.5950|  14.2550| 7089672|103139023.91|14.5950|14.7050|14.3600|14.5892|         true|
|   REP|08/01/2019|14.4900|  14.4750|12227338|177321179.12|14.4900|14.7900|14.4400|14.5760|         true|
|   REP|09/01/2019|14.6950|  14.4900|11410241|166077803.01|14.6950|14.7450|14.4550|14.6345|         true|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
only showing top 5 rows

In [16]:
df.filter(df.Ticker == "IDR").show()
print(df.filter((df.Ticker == "IDR") & (df.Volume > 500000)).count())
print(df.filter(df.Ticker == "IDR").count())
df.select("Ticker").distinct().show()
# df.filter((df.Ticker == "IDR") & (df.Volume > 500000)).show(42)

+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
|Ticker|      Date| Close|Reference|Volume|  Turnover|  Last|  High|   Low|Average|Aumento_valor|
+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
|   IDR|02/01/2019|8.1250|   8.2350|554146|4504780.53|8.1250|8.2100|8.0000| 8.1292|        false|
|   IDR|03/01/2019|8.0000|   8.1250|518359|4154868.74|8.0000|8.1350|7.9200| 8.0154|        false|
|   IDR|04/01/2019|8.2050|   8.0000|539367|4389231.91|8.2050|8.2400|8.0400| 8.1377|         true|
|   IDR|07/01/2019|8.0500|   8.2050|776378|6226567.10|8.0500|8.2250|7.8900| 8.0200|        false|
|   IDR|08/01/2019|8.1850|   8.0500|547992|4480941.25|8.1850|8.2650|8.0550| 8.1770|         true|
|   IDR|09/01/2019|8.5800|   8.1850|882949|7544821.85|8.5800|8.7000|8.2500| 8.5442|         true|
|   IDR|10/01/2019|8.5350|   8.5800|351675|3001337.82|8.5350|8.5900|8.4800| 8.5344|        false|
|   IDR|11/01/2019|8.4800|   8.5350|318789|2707001.85|8.4800|8.5850|8.4250| 8.4915|        false|
|   IDR|14/01/2019|8.2950|   8.4800|412988|3434630.64|8.2950|8.5000|8.2450| 8.3229|        false|
|   IDR|15/01/2019|8.3100|   8.2950|311297|2586252.42|8.3100|8.4200|8.2500| 8.3080|         true|
|   IDR|16/01/2019|8.5000|   8.3100|415956|3534841.94|8.5000|8.5700|8.3600| 8.4951|         true|
|   IDR|17/01/2019|8.5750|   8.5000|312950|2683403.19|8.5750|8.6800|8.4200| 8.5745|         true|
|   IDR|18/01/2019|8.7800|   8.5750|461989|4030830.84|8.7800|8.7900|8.6150| 8.7249|         true|
|   IDR|21/01/2019|8.8050|   8.7800|259179|2274940.12|8.8050|8.8100|8.7150| 8.7775|         true|
|   IDR|22/01/2019|8.7650|   8.8050|288035|2524823.27|8.7650|8.8350|8.7200| 8.7657|        false|
|   IDR|23/01/2019|8.8900|   8.7650|352629|3141163.04|8.8900|9.0050|8.6800| 8.9078|         true|
|   IDR|24/01/2019|9.0000|   8.8900|403375|3614762.78|9.0000|9.0550|8.8550| 8.9659|         true|
|   IDR|25/01/2019|9.1200|   9.0000|524044|4775069.58|9.1200|9.1700|9.0150| 9.1108|         true|
|   IDR|28/01/2019|9.0600|   9.1200|352980|3215154.93|9.0600|9.2500|9.0000| 9.1086|        false|
|   IDR|29/01/2019|9.0300|   9.0600|397114|3603341.65|9.0300|9.2100|8.9600| 9.0738|        false|
+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
only showing top 20 rows

132
245
+------+
|Ticker|
+------+
|  AENA|
|  SGRE|
|  NTGY|
|  CLNX|
|   ITX|
|   REP|
|   ELE|
|   REE|
|   FER|
|   ACS|
|   ENG|
|   AMS|
|   MTS|
|   GRF|
|   MRL|
|   TRE|
|   ANA|
|   CIE|
|   VIS|
|  BBVA|
+------+
only showing top 20 rows

In [17]:
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import round, col

df = df.withColumn("Diff", round(col("Close") - col("Reference"), 2))
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor| Diff|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true| 1.25|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true| 0.05|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true| 3.45|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|-1.35|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true| 0.85|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false| -1.5|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true| 0.75|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|  0.2|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|-0.95|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true| 0.45|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true| 3.55|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|-1.15|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true| 1.55|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true| 1.85|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|  2.3|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|  1.7|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true| 1.85|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false| -0.3|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false| -2.9|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true| 0.35|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
only showing top 20 rows

In [10]:
df = df.withColumn("Date", F.to_date(df["Date"], 'dd/MM/yyyy'))
df.printSchema()
df.show()

root
 |-- Ticker: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Close: string (nullable = true)
 |-- Reference: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Turnover: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Average: string (nullable = true)
 |-- Aumento_valor: boolean (nullable = true)
 |-- Diff: double (nullable = true)

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor| Diff|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
|  AENA|2019-01-02|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true| 1.25|
|  AENA|2019-01-03|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true| 0.05|
|  AENA|2019-01-04|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true| 3.45|
|  AENA|2019-01-07|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|-1.35|
|  AENA|2019-01-08|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true| 0.85|
|  AENA|2019-01-09|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false| -1.5|
|  AENA|2019-01-10|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true| 0.75|
|  AENA|2019-01-11|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|  0.2|
|  AENA|2019-01-14|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|-0.95|
|  AENA|2019-01-15|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true| 0.45|
|  AENA|2019-01-16|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true| 3.55|
|  AENA|2019-01-17|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|-1.15|
|  AENA|2019-01-18|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true| 1.55|
|  AENA|2019-01-21|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true| 1.85|
|  AENA|2019-01-22|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|  2.3|
|  AENA|2019-01-23|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|  1.7|
|  AENA|2019-01-24|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true| 1.85|
|  AENA|2019-01-25|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false| -0.3|
|  AENA|2019-01-28|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false| -2.9|
|  AENA|2019-01-29|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true| 0.35|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+
only showing top 20 rows

In [11]:
df = df.withColumn("Month", F.month(df["Date"]))
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor| Diff|Month|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
|  AENA|2019-01-02|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true| 1.25|    1|
|  AENA|2019-01-03|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true| 0.05|    1|
|  AENA|2019-01-04|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true| 3.45|    1|
|  AENA|2019-01-07|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|-1.35|    1|
|  AENA|2019-01-08|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true| 0.85|    1|
|  AENA|2019-01-09|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false| -1.5|    1|
|  AENA|2019-01-10|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true| 0.75|    1|
|  AENA|2019-01-11|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|  0.2|    1|
|  AENA|2019-01-14|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|-0.95|    1|
|  AENA|2019-01-15|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true| 0.45|    1|
|  AENA|2019-01-16|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true| 3.55|    1|
|  AENA|2019-01-17|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|-1.15|    1|
|  AENA|2019-01-18|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true| 1.55|    1|
|  AENA|2019-01-21|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true| 1.85|    1|
|  AENA|2019-01-22|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|  2.3|    1|
|  AENA|2019-01-23|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|  1.7|    1|
|  AENA|2019-01-24|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true| 1.85|    1|
|  AENA|2019-01-25|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false| -0.3|    1|
|  AENA|2019-01-28|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false| -2.9|    1|
|  AENA|2019-01-29|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true| 0.35|    1|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
only showing top 20 rows

In [16]:
df.groupBy("Month").agg(F.round(F.mean("Close"), 2).alias("avg_close")).orderBy("avg_close", asecnding = False).show()

+-----+---------+
|Month|avg_close|
+-----+---------+
|    1|    21.25|
|    8|    22.19|
|    2|    22.24|
|   10|    22.75|
|    9|    22.77|
|    3|    23.03|
|    5|    23.12|
|    7|    23.26|
|    6|    23.34|
|   11|    23.37|
|   12|    23.42|
|    4|    23.75|
+-----+---------+

In [24]:
df.groupBy("Month").agg(F.round(F.sum("Diff"), 2).alias("total_diff")).orderBy("total_diff", ascending = False).show()

+-----+----------+
|Month|total_diff|
+-----+----------+
|    1|     59.94|
|    3|      33.2|
|    4|     28.19|
|    6|     27.49|
|    2|     19.37|
|   11|     17.46|
|    9|     16.49|
|   12|     12.54|
|   10|      7.63|
|    8|     -3.65|
|    7|    -16.45|
|    5|    -45.79|
+-----+----------+

In [27]:
df_REP = df.filter(df.Ticker == "REP")
df_REP.show()
df_REP.count()

df_AENA = df.filter(df.Ticker == "AENA")
df_AENA.show()
df_AENA.count()

+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+-----+-----+
|Ticker|      Date|  Close|Reference|  Volume|    Turnover|   Last|   High|    Low|Average|Aumento_valor| Diff|Month|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+-----+-----+
|   REP|2019-01-02|14.2350|  14.0800|10003999|140210096.55|14.2350|14.3100|13.7850|14.0805|         true| 0.15|    1|
|   REP|2019-01-03|14.2550|  14.2350|12814838|180613397.06|14.2550|14.3800|14.0250|14.2255|         true| 0.02|    1|
|   REP|2019-01-04|14.5950|  14.2550| 7089672|103139023.91|14.5950|14.7050|14.3600|14.5892|         true| 0.34|    1|
|   REP|2019-01-07|14.4750|  14.5950| 4409347| 63898025.48|14.4750|14.6950|14.3300|14.4915|        false|-0.12|    1|
|   REP|2019-01-08|14.4900|  14.4750|12227338|177321179.12|14.4900|14.7900|14.4400|14.5760|         true| 0.02|    1|
|   REP|2019-01-09|14.6950|  14.4900|11410241|166077803.01|14.6950|14.7450|14.4550|14.6345|         true| 0.21|    1|
|   REP|2019-01-10|14.7750|  14.6950| 6329149| 93029889.45|14.7750|14.7950|14.5550|14.7318|         true| 0.08|    1|
|   REP|2019-01-11|14.7500|  14.7750| 6035768| 88897565.02|14.7500|14.9000|14.6000|14.7426|        false|-0.03|    1|
|   REP|2019-01-14|14.6700|  14.7500| 7463778|108740994.93|14.6700|14.7300|14.4550|14.6102|        false|-0.08|    1|
|   REP|2019-01-15|14.6400|  14.6700|10911530|160211053.01|14.6400|14.8600|14.5200|14.6602|        false|-0.03|    1|
|   REP|2019-01-16|14.6500|  14.6400| 7294675|106507800.53|14.6500|14.7300|14.5300|14.6229|         true| 0.01|    1|
|   REP|2019-01-17|14.7550|  14.6500| 5463446| 80386013.30|14.7550|14.8150|14.5300|14.7335|         true| 0.11|    1|
|   REP|2019-01-18|15.0000|  14.7550| 8525141|127522588.30|15.0000|15.1050|14.8000|14.9880|         true| 0.24|    1|
|   REP|2019-01-21|14.8000|  15.0000| 6210469| 92378060.31|14.8000|15.0750|14.7550|14.8640|        false| -0.2|    1|
|   REP|2019-01-22|14.8300|  14.8000| 5792284| 85795646.86|14.8300|14.9150|14.7350|14.8253|         true| 0.03|    1|
|   REP|2019-01-23|14.7750|  14.8300| 5389615| 79810839.85|14.7750|14.9800|14.7400|14.8217|        false|-0.05|    1|
|   REP|2019-01-24|15.0500|  14.7750| 6699989|100192420.30|15.0500|15.1000|14.7550|14.9887|         true| 0.28|    1|
|   REP|2019-01-25|15.0450|  15.0500| 2958628| 44589204.52|15.0450|15.1850|15.0100|15.0696|        false|-0.01|    1|
|   REP|2019-01-28|14.7700|  15.0450| 4737044| 70199508.71|14.7700|14.9900|14.7700|14.8287|        false|-0.28|    1|
|   REP|2019-01-29|15.0100|  14.7700| 6561897| 97810093.74|15.0100|15.1150|14.6800|14.9752|         true| 0.24|    1|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+-----+-----+
only showing top 20 rows

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor| Diff|Month|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
|  AENA|2019-01-02|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true| 1.25|    1|
|  AENA|2019-01-03|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true| 0.05|    1|
|  AENA|2019-01-04|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true| 3.45|    1|
|  AENA|2019-01-07|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|-1.35|    1|
|  AENA|2019-01-08|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true| 0.85|    1|
|  AENA|2019-01-09|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false| -1.5|    1|
|  AENA|2019-01-10|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true| 0.75|    1|
|  AENA|2019-01-11|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|  0.2|    1|
|  AENA|2019-01-14|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|-0.95|    1|
|  AENA|2019-01-15|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true| 0.45|    1|
|  AENA|2019-01-16|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true| 3.55|    1|
|  AENA|2019-01-17|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|-1.15|    1|
|  AENA|2019-01-18|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true| 1.55|    1|
|  AENA|2019-01-21|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true| 1.85|    1|
|  AENA|2019-01-22|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|  2.3|    1|
|  AENA|2019-01-23|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|  1.7|    1|
|  AENA|2019-01-24|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true| 1.85|    1|
|  AENA|2019-01-25|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false| -0.3|    1|
|  AENA|2019-01-28|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false| -2.9|    1|
|  AENA|2019-01-29|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true| 0.35|    1|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+-----+-----+
only showing top 20 rows

245

In [31]:
df_names = spark.read.option("header", "true").csv("../data/IBEX35_names.csv")
df_names.show()

+--------------+--------------------+
|COMPANY TICKER|        COMPANY NAME|
+--------------+--------------------+
|           ANA|             ACCIONA|
|           ACX|            ACERINOX|
|           ACS|ACS ACTIVIDADES C...|
|          AENA|                AENA|
|           AMS|    AMADEUS IT GROUP|
|           MTS|       ARCELORMITTAL|
|           SAB|   BANCO DE SABADELL|
|           SAN|     BANCO SANTANDER|
|          BKIA|              BANKIA|
|           BKT|           BANKINTER|
|          BBVA|BANCO BILBAO VIZC...|
|          CABK|           CAIXABANK|
|          CLNX|     CELLNEX TELECOM|
|           CIE|      CIE AUTOMOTIVE|
|           ENG|              ENAGAS|
|           ENC|ENCE ENERGIA Y CE...|
|           ELE|              ENDESA|
|           FER|           FERROVIAL|
|           GRF|     GRIFOLS CLASE A|
|           IAG|INTERNATIONAL CON...|
+--------------+--------------------+
only showing top 20 rows

In [35]:
df_join = df.join(df_names, on = df["Ticker"] == df_names["Company Ticker"], how = "right")
df_join.show()

+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+--------------+------------+
|Ticker|      Date|  Close|Reference|Volume|   Turnover|   Last|   High|    Low|Average|Aumento_valor| Diff|Month|COMPANY TICKER|COMPANY NAME|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+--------------+------------+
|   ANA|2019-12-13|93.8500|  93.3000| 55309| 5192000.25|93.8500|94.3500|93.4500|93.8726|         true| 0.55|   12|           ANA|     ACCIONA|
|   ANA|2019-12-12|93.3000|  92.8500| 46860| 4364399.45|93.3000|93.4500|92.4500|93.1370|         true| 0.45|   12|           ANA|     ACCIONA|
|   ANA|2019-12-11|92.8500|  91.9500| 48398| 4478126.00|92.8500|92.9000|92.0500|92.5271|         true|  0.9|   12|           ANA|     ACCIONA|
|   ANA|2019-12-10|91.9500|  92.0500| 46267| 4254898.65|91.9500|92.5000|91.1500|91.9640|        false| -0.1|   12|           ANA|     ACCIONA|
|   ANA|2019-12-09|92.0500|  92.0000|129741|11889158.00|92.0500|92.6000|91.4500|92.1137|         true| 0.05|   12|           ANA|     ACCIONA|
|   ANA|2019-12-06|92.0000|  91.4500| 51184| 4710204.85|92.0000|92.4000|91.2500|92.0249|         true| 0.55|   12|           ANA|     ACCIONA|
|   ANA|2019-12-05|91.4500|  91.6500| 92729| 8493675.25|91.4500|92.4000|91.4000|91.5929|        false| -0.2|   12|           ANA|     ACCIONA|
|   ANA|2019-12-04|91.6500|  91.1500| 54924| 5038171.25|91.6500|92.2500|91.1500|91.7299|         true|  0.5|   12|           ANA|     ACCIONA|
|   ANA|2019-12-03|91.1500|  93.0000| 75194| 6885007.00|91.1500|93.1500|91.1500|91.5632|        false|-1.85|   12|           ANA|     ACCIONA|
|   ANA|2019-12-02|93.0000|  94.0000| 68218| 6378227.20|93.0000|95.1000|92.5000|93.4977|        false| -1.0|   12|           ANA|     ACCIONA|
|   ANA|2019-11-29|94.0000|  94.0000| 70941| 6650747.90|94.0000|94.4500|93.2000|93.7504|        false|  0.0|   11|           ANA|     ACCIONA|
|   ANA|2019-11-28|94.0000|  93.7500| 39958| 3743150.50|94.0000|94.0500|93.2000|93.6725|         true| 0.25|   11|           ANA|     ACCIONA|
|   ANA|2019-11-27|93.7500|  93.4000| 84368| 7942615.15|93.7500|95.0000|93.4500|94.1246|         true| 0.35|   11|           ANA|     ACCIONA|
|   ANA|2019-11-26|93.4000|  93.4000| 75184| 7029091.95|93.4000|94.0500|92.7000|93.4919|        false|  0.0|   11|           ANA|     ACCIONA|
|   ANA|2019-11-25|93.4000|  92.7000| 61692| 5787106.25|93.4000|94.4500|93.0000|93.8064|         true|  0.7|   11|           ANA|     ACCIONA|
|   ANA|2019-11-22|92.7000|  91.3000|136353|12581733.20|92.7000|93.0500|91.5000|92.4100|         true|  1.4|   11|           ANA|     ACCIONA|
|   ANA|2019-11-21|91.3000|  92.2000|154778|14203166.60|91.3000|92.5000|91.2000|91.7003|        false| -0.9|   11|           ANA|     ACCIONA|
|   ANA|2019-11-20|92.2000|  92.4500|135339|12468660.50|92.2000|92.5500|91.5000|92.0563|        false|-0.25|   11|           ANA|     ACCIONA|
|   ANA|2019-11-19|92.4500|  91.8500|258077|23851525.36|92.4500|93.0000|91.6500|92.3623|         true|  0.6|   11|           ANA|     ACCIONA|
|   ANA|2019-11-18|91.8500|  91.4500| 67525| 6208552.35|91.8500|92.3500|91.4500|91.9445|         true|  0.4|   11|           ANA|     ACCIONA|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+--------------+------------+
only showing top 20 rows

In [51]:
df_join = df_join.drop("COMPANY TICKER")
df_join.show()
df.show()

+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
|Ticker|      Date|  Close|Reference|Volume|   Turnover|   Last|   High|    Low|Average|Aumento_valor| Diff|Month|COMPANY NAME|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
|   ANA|2019-12-13|93.8500|  93.3000| 55309| 5192000.25|93.8500|94.3500|93.4500|93.8726|         true| 0.55|   12|     ACCIONA|
|   ANA|2019-12-12|93.3000|  92.8500| 46860| 4364399.45|93.3000|93.4500|92.4500|93.1370|         true| 0.45|   12|     ACCIONA|
|   ANA|2019-12-11|92.8500|  91.9500| 48398| 4478126.00|92.8500|92.9000|92.0500|92.5271|         true|  0.9|   12|     ACCIONA|
|   ANA|2019-12-10|91.9500|  92.0500| 46267| 4254898.65|91.9500|92.5000|91.1500|91.9640|        false| -0.1|   12|     ACCIONA|
|   ANA|2019-12-09|92.0500|  92.0000|129741|11889158.00|92.0500|92.6000|91.4500|92.1137|         true| 0.05|   12|     ACCIONA|
|   ANA|2019-12-06|92.0000|  91.4500| 51184| 4710204.85|92.0000|92.4000|91.2500|92.0249|         true| 0.55|   12|     ACCIONA|
|   ANA|2019-12-05|91.4500|  91.6500| 92729| 8493675.25|91.4500|92.4000|91.4000|91.5929|        false| -0.2|   12|     ACCIONA|
|   ANA|2019-12-04|91.6500|  91.1500| 54924| 5038171.25|91.6500|92.2500|91.1500|91.7299|         true|  0.5|   12|     ACCIONA|
|   ANA|2019-12-03|91.1500|  93.0000| 75194| 6885007.00|91.1500|93.1500|91.1500|91.5632|        false|-1.85|   12|     ACCIONA|
|   ANA|2019-12-02|93.0000|  94.0000| 68218| 6378227.20|93.0000|95.1000|92.5000|93.4977|        false| -1.0|   12|     ACCIONA|
|   ANA|2019-11-29|94.0000|  94.0000| 70941| 6650747.90|94.0000|94.4500|93.2000|93.7504|        false|  0.0|   11|     ACCIONA|
|   ANA|2019-11-28|94.0000|  93.7500| 39958| 3743150.50|94.0000|94.0500|93.2000|93.6725|         true| 0.25|   11|     ACCIONA|
|   ANA|2019-11-27|93.7500|  93.4000| 84368| 7942615.15|93.7500|95.0000|93.4500|94.1246|         true| 0.35|   11|     ACCIONA|
|   ANA|2019-11-26|93.4000|  93.4000| 75184| 7029091.95|93.4000|94.0500|92.7000|93.4919|        false|  0.0|   11|     ACCIONA|
|   ANA|2019-11-25|93.4000|  92.7000| 61692| 5787106.25|93.4000|94.4500|93.0000|93.8064|         true|  0.7|   11|     ACCIONA|
|   ANA|2019-11-22|92.7000|  91.3000|136353|12581733.20|92.7000|93.0500|91.5000|92.4100|         true|  1.4|   11|     ACCIONA|
|   ANA|2019-11-21|91.3000|  92.2000|154778|14203166.60|91.3000|92.5000|91.2000|91.7003|        false| -0.9|   11|     ACCIONA|
|   ANA|2019-11-20|92.2000|  92.4500|135339|12468660.50|92.2000|92.5500|91.5000|92.0563|        false|-0.25|   11|     ACCIONA|
|   ANA|2019-11-19|92.4500|  91.8500|258077|23851525.36|92.4500|93.0000|91.6500|92.3623|         true|  0.6|   11|     ACCIONA|
|   ANA|2019-11-18|91.8500|  91.4500| 67525| 6208552.35|91.8500|92.3500|91.4500|91.9445|         true|  0.4|   11|     ACCIONA|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
only showing top 20 rows

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [58]:
df_join = df_join.withColumn("Volume", F.col("Volume").cast("int"))

window = Window.partitionBy("Month").orderBy(df_join.Volume.desc())

df_join.withColumn("month_vol_rank", F.row_number().over(window)).filter(F.col("month_vol_rank") == 3).show()

+------+----------+------+---------+---------+-------------+------+------+------+-------+-------------+-----+-----+-----------------+--------------+
|Ticker|      Date| Close|Reference|   Volume|     Turnover|  Last|  High|   Low|Average|Aumento_valor| Diff|Month|     COMPANY NAME|month_vol_rank|
+------+----------+------+---------+---------+-------------+------+------+------+-------+-------------+-----+-----+-----------------+--------------+
|   SAN|2019-01-24|4.3355|   4.3550|250739919|1099255730.82|4.3355|4.4200|4.2875| 4.3620|        false|-0.02|    1|  BANCO SANTANDER|             3|
|   SAN|2019-02-06|4.1240|   4.1050|265526091|1083201324.37|4.1240|4.1435|4.0550| 4.1112|         true| 0.02|    2|  BANCO SANTANDER|             3|
|   SAB|2019-03-22|0.9100|   0.9304| 94583890|  88227743.79|0.9100|0.9422|0.9068| 0.9156|        false|-0.02|    3|BANCO DE SABADELL|             3|
|   SAN|2019-04-17|4.6185|   4.5715|251111657|1150139655.01|4.6185|4.6820|4.5600| 4.6245|         true| 0.05|    4|  BANCO SANTANDER|             3|
|   SAN|2019-05-06|4.3455|   4.4085|174641750| 755837104.13|4.3455|4.3620|4.2810| 4.3327|        false|-0.06|    5|  BANCO SANTANDER|             3|
|   TEF|2019-06-20|7.3230|   7.3580|134106223| 989041765.48|7.3230|7.4120|7.2600| 7.3233|        false|-0.03|    6|       TELEFONICA|             3|
|   SAN|2019-07-31|3.8630|   3.8855| 64874607| 252130148.62|3.8630|3.9100|3.8600| 3.8773|        false|-0.02|    7|  BANCO SANTANDER|             3|
|   SAN|2019-08-09|3.6145|   3.6950| 81293022| 295862775.00|3.6145|3.6675|3.6100| 3.6295|        false|-0.08|    8|  BANCO SANTANDER|             3|
|   SAN|2019-09-18|3.6205|   3.6565|108335016| 396483702.76|3.6205|3.6900|3.6165| 3.6347|        false|-0.04|    9|  BANCO SANTANDER|             3|
|   SAN|2019-10-17|3.8580|   3.9205|241933762| 942557810.86|3.8580|3.9845|3.8580| 3.9036|        false|-0.06|   10|  BANCO SANTANDER|             3|
|   SAN|2019-11-07|3.8460|   3.7675|172399810| 657045437.67|3.8460|3.8655|3.7730| 3.8315|         true| 0.08|   11|  BANCO SANTANDER|             3|
|   TEF|2019-12-06|6.8680|   6.7850|138790250| 943408688.25|6.8680|6.8940|6.7750| 6.8589|         true| 0.08|   12|       TELEFONICA|             3|
+------+----------+------+---------+---------+-------------+------+------+------+-------+-------------+-----+-----+-----------------+--------------+

In [59]:
df_join = df_join.withColumn("Turnover", F.col("Turnover").cast("float"))
df_join.show()

+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
|Ticker|      Date|  Close|Reference|Volume|   Turnover|   Last|   High|    Low|Average|Aumento_valor| Diff|Month|COMPANY NAME|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
|   ANA|2019-12-13|93.8500|  93.3000| 55309|  5192000.0|93.8500|94.3500|93.4500|93.8726|         true| 0.55|   12|     ACCIONA|
|   ANA|2019-12-12|93.3000|  92.8500| 46860|  4364399.5|93.3000|93.4500|92.4500|93.1370|         true| 0.45|   12|     ACCIONA|
|   ANA|2019-12-11|92.8500|  91.9500| 48398|  4478126.0|92.8500|92.9000|92.0500|92.5271|         true|  0.9|   12|     ACCIONA|
|   ANA|2019-12-10|91.9500|  92.0500| 46267|  4254898.5|91.9500|92.5000|91.1500|91.9640|        false| -0.1|   12|     ACCIONA|
|   ANA|2019-12-09|92.0500|  92.0000|129741|1.1889158E7|92.0500|92.6000|91.4500|92.1137|         true| 0.05|   12|     ACCIONA|
|   ANA|2019-12-06|92.0000|  91.4500| 51184|  4710205.0|92.0000|92.4000|91.2500|92.0249|         true| 0.55|   12|     ACCIONA|
|   ANA|2019-12-05|91.4500|  91.6500| 92729|  8493675.0|91.4500|92.4000|91.4000|91.5929|        false| -0.2|   12|     ACCIONA|
|   ANA|2019-12-04|91.6500|  91.1500| 54924|  5038171.0|91.6500|92.2500|91.1500|91.7299|         true|  0.5|   12|     ACCIONA|
|   ANA|2019-12-03|91.1500|  93.0000| 75194|  6885007.0|91.1500|93.1500|91.1500|91.5632|        false|-1.85|   12|     ACCIONA|
|   ANA|2019-12-02|93.0000|  94.0000| 68218|  6378227.0|93.0000|95.1000|92.5000|93.4977|        false| -1.0|   12|     ACCIONA|
|   ANA|2019-11-29|94.0000|  94.0000| 70941|  6650748.0|94.0000|94.4500|93.2000|93.7504|        false|  0.0|   11|     ACCIONA|
|   ANA|2019-11-28|94.0000|  93.7500| 39958|  3743150.5|94.0000|94.0500|93.2000|93.6725|         true| 0.25|   11|     ACCIONA|
|   ANA|2019-11-27|93.7500|  93.4000| 84368|  7942615.0|93.7500|95.0000|93.4500|94.1246|         true| 0.35|   11|     ACCIONA|
|   ANA|2019-11-26|93.4000|  93.4000| 75184|  7029092.0|93.4000|94.0500|92.7000|93.4919|        false|  0.0|   11|     ACCIONA|
|   ANA|2019-11-25|93.4000|  92.7000| 61692|  5787106.0|93.4000|94.4500|93.0000|93.8064|         true|  0.7|   11|     ACCIONA|
|   ANA|2019-11-22|92.7000|  91.3000|136353|1.2581733E7|92.7000|93.0500|91.5000|92.4100|         true|  1.4|   11|     ACCIONA|
|   ANA|2019-11-21|91.3000|  92.2000|154778|1.4203167E7|91.3000|92.5000|91.2000|91.7003|        false| -0.9|   11|     ACCIONA|
|   ANA|2019-11-20|92.2000|  92.4500|135339| 1.246866E7|92.2000|92.5500|91.5000|92.0563|        false|-0.25|   11|     ACCIONA|
|   ANA|2019-11-19|92.4500|  91.8500|258077|2.3851526E7|92.4500|93.0000|91.6500|92.3623|         true|  0.6|   11|     ACCIONA|
|   ANA|2019-11-18|91.8500|  91.4500| 67525|  6208552.5|91.8500|92.3500|91.4500|91.9445|         true|  0.4|   11|     ACCIONA|
+------+----------+-------+---------+------+-----------+-------+-------+-------+-------+-------------+-----+-----+------------+
only showing top 20 rows

In [60]:
window = Window.partitionBy("Ticker").orderBy(df_join.Turnover.desc())

df_join.withColumn("turnover_rank", F.row_number().over(window)).filter(F.col("turnover_rank") == 10).show()

+------+----------+--------+---------+--------+------------+--------+--------+--------+--------+-------------+-----+-----+--------------------+-------------+
|Ticker|      Date|   Close|Reference|  Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor| Diff|Month|        COMPANY NAME|turnover_rank|
+------+----------+--------+---------+--------+------------+--------+--------+--------+--------+-------------+-----+-----+--------------------+-------------+
|   ACS|2019-06-05| 37.4000|  37.2500| 1504343| 5.6504048E7| 37.4000| 37.7700| 37.2300| 37.4230|         true| 0.15|    6|ACS ACTIVIDADES C...|           10|
|   ACX|2019-11-07|  9.4440|   9.2700| 2304097|  2.163195E7|  9.4440|  9.4700|  9.3100|  9.4143|         true| 0.17|   11|            ACERINOX|           10|
|  AENA|2019-12-10|166.3500| 166.3000|  789906|1.31597344E8|166.3500|167.3000|164.4500|166.1044|         true| 0.05|   12|                AENA|           10|
|   AMS|2019-07-15| 72.4400|  71.7200| 5186456|3.75741088E8| 72.4400| 72.8400| 71.8600| 72.4316|         true| 0.72|    7|    AMADEUS IT GROUP|           10|
|   ANA|2019-04-09|103.6000| 104.5000|  205168| 2.1222564E7|103.6000|104.9000|102.5000|103.5275|        false| -0.9|    4|             ACCIONA|           10|
|  BBVA|2019-04-23|  5.4760|   5.5940|78353226|4.34852128E8|  5.4760|  5.5890|  5.4460|  5.4874|        false|-0.12|    4|BANCO BILBAO VIZC...|           10|
|  BKIA|2019-04-16|  2.3800|   2.3570|14049177|  3.318566E7|  2.3800|  2.3820|  2.3370|  2.3722|         true| 0.02|    4|              BANKIA|           10|
|   BKT|2019-07-09|  6.3080|   6.3080| 6953393| 4.3945808E7|  6.3080|  6.3500|  6.2700|  6.3089|        false|  0.0|    7|           BANKINTER|           10|
|  CABK|2019-04-17|  2.9980|   2.9440|33519022| 9.9613392E7|  2.9980|  3.0040|  2.9330|  2.9897|         true| 0.05|    4|           CAIXABANK|           10|
|   CIE|2019-05-31| 21.6600|  22.6600|  511966| 1.1122426E7| 21.6600| 22.3000| 21.4000| 21.7362|        false| -1.0|    5|      CIE AUTOMOTIVE|           10|
|  CLNX|2019-12-02| 38.2400|  39.0000| 1952190| 7.5922416E7| 38.2400| 39.1800| 38.0900| 38.6036|        false|-0.76|   12|     CELLNEX TELECOM|           10|
|   COL|2019-06-13| 10.1500|  10.0600| 1743347| 1.7570074E7| 10.1500| 10.2200| 10.0400| 10.1528|         true| 0.09|    6|INMOBILIARIA COLO...|           10|
|   ELE|2019-07-08| 22.8600|  22.9500| 5917077|1.34713584E8| 22.8600| 22.9400| 22.5600| 22.7895|        false|-0.09|    7|              ENDESA|           10|
|   ENC|2019-01-16|  6.3950|   6.2100| 3571927| 2.2682992E7|  6.3950|  6.4850|  6.2000|  6.3403|         true| 0.18|    1|ENCE ENERGIA Y CE...|           10|
|   ENG|2019-09-20| 20.8100|  21.0300| 2824556| 5.8995956E7| 20.8100| 21.2600| 20.8100| 20.8689|        false|-0.22|    9|              ENAGAS|           10|
|   FER|2019-03-15| 20.8800|  20.6200| 5125681|1.06643728E8| 20.8800| 20.9100| 20.6200| 20.8658|         true| 0.26|    3|           FERROVIAL|           10|
|   GRF|2019-11-18| 29.5700|  29.2700| 2147400| 6.3225232E7| 29.5700| 29.7800| 29.3400| 29.5432|         true|  0.3|   11|     GRIFOLS CLASE A|           10|
|   IAG|2019-07-11|  5.0100|   4.9600|12442262| 6.2017976E7|  5.0100|  5.0500|  4.9190|  4.9898|         true| 0.05|    7|INTERNATIONAL CON...|           10|
|   IBE|2019-11-26|  8.8960|   8.8980|31460608|2.79352928E8|  8.8960|  8.8980|  8.8100|  8.8813|        false|  0.0|   11|           IBERDROLA|           10|
|   IDR|2019-04-30| 10.5000|  10.4900| 1128540| 1.1828895E7| 10.5000| 10.5700| 10.3800| 10.4750|         true| 0.01|    4|       INDRA SERIE A|           10|
+------+----------+--------+---------+--------+------------+--------+--------+--------+--------+-------------+-----+-----+--------------------+-------------+
only showing top 20 rows