In [11]:
import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark = SparkSession \
        .builder \
        .appName("Ejemplo de Spark") \
        .getOrCreate()

spark

In [8]:
df = spark.read.csv("../data/IBEX35")
df.show()

# Does not read headers

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|   _c0|       _c1|     _c2|      _c3|   _c4|         _c5|     _c6|     _c7|     _c8|     _c9|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [12]:
df = spark.read.option("header", "true").csv("../data/IBEX35")
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows