In [ ]:
import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark = SparkSession \
        .builder \
        .appName("Ejemplo de Spark") \
        .getOrCreate()

spark

In [11]:
df = spark.read.csv("../data/IBEX35")
df.show()

# Does not read headers

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|   _c0|       _c1|     _c2|      _c3|   _c4|         _c5|     _c6|     _c7|     _c8|     _c9|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [12]:
df = spark.read.option("header", "true").csv("../data/IBEX35")
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [9]:
print(f"The number of tickers is {df.count()}")
print(f"The data colums are {df.columns}")

The number of tickers is 8575
The data colums are ['Ticker', 'Date', 'Close', 'Reference', 'Volume', 'Turnover', 'Last', 'High', 'Low', 'Average']

In [13]:
df = df.withColumn("Aumento_valor", df.Close > df.Reference)
df.show()

+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|Ticker|      Date|   Close|Reference|Volume|    Turnover|    Last|    High|     Low| Average|Aumento_valor|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
|  AENA|02/01/2019|137.0000| 135.7500|143458| 19591073.50|137.0000|138.0000|133.9500|136.5631|         true|
|  AENA|03/01/2019|137.0500| 137.0000|461151| 63059756.45|137.0500|139.1500|136.4000|137.4490|         true|
|  AENA|04/01/2019|140.5000| 137.0500|110214| 15444845.65|140.5000|140.9500|137.7000|140.1351|         true|
|  AENA|07/01/2019|139.1500| 140.5000| 92663| 12908476.55|139.1500|141.1000|138.2000|139.3056|        false|
|  AENA|08/01/2019|140.0000| 139.1500|179857| 25206724.88|140.0000|141.0500|138.8000|140.1306|         true|
|  AENA|09/01/2019|138.5000| 140.0000|163959| 22859110.75|138.5000|141.6500|138.3500|138.8855|        false|
|  AENA|10/01/2019|139.2500| 138.5000|181664| 25208702.51|139.2500|139.5000|137.5500|138.8824|         true|
|  AENA|11/01/2019|139.4500| 139.2500|710391| 99120299.80|139.4500|139.9000|138.6500|139.3964|         true|
|  AENA|14/01/2019|138.5000| 139.4500|117354| 16271021.15|138.5000|140.3500|138.3000|138.6491|        false|
|  AENA|15/01/2019|138.9500| 138.5000|162627| 22603250.85|138.9500|140.2000|137.2000|138.7316|         true|
|  AENA|16/01/2019|142.5000| 138.9500|172835| 24533145.35|142.5000|143.2000|139.7000|141.9455|         true|
|  AENA|17/01/2019|141.3500| 142.5000|122321| 17286044.05|141.3500|141.8500|140.6000|141.3171|        false|
|  AENA|18/01/2019|142.9000| 141.3500|241296| 34361646.68|142.9000|143.1000|141.7500|142.5277|         true|
|  AENA|21/01/2019|144.7500| 142.9000|152491| 22040650.95|144.7500|146.4500|143.5500|144.9543|         true|
|  AENA|22/01/2019|147.0500| 144.7500|790832|115048699.55|147.0500|147.1500|144.5000|146.4991|         true|
|  AENA|23/01/2019|148.7500| 147.0500|182532| 27165238.65|148.7500|149.7500|145.9000|148.8158|         true|
|  AENA|24/01/2019|150.6000| 148.7500|242387| 36383535.92|150.6000|150.7500|148.4000|150.1997|         true|
|  AENA|25/01/2019|150.3000| 150.6000|202950| 30554547.10|150.3000|153.9500|148.8000|150.4125|        false|
|  AENA|28/01/2019|147.4000| 150.3000|154353| 22791608.85|147.4000|150.4000|146.5500|147.6590|        false|
|  AENA|29/01/2019|147.7500| 147.4000|156812| 23219712.15|147.7500|149.3500|147.4500|148.0736|         true|
+------+----------+--------+---------+------+------------+--------+--------+--------+--------+-------------+
only showing top 20 rows

In [14]:
df.filter(df.Ticker == "REP").show(5)

df.filter((df.Ticker == "REP") & (df.Aumento_valor == "true")).show(5)

+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|Ticker|      Date|  Close|Reference|  Volume|    Turnover|   Last|   High|    Low|Average|Aumento_valor|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|   REP|02/01/2019|14.2350|  14.0800|10003999|140210096.55|14.2350|14.3100|13.7850|14.0805|         true|
|   REP|03/01/2019|14.2550|  14.2350|12814838|180613397.06|14.2550|14.3800|14.0250|14.2255|         true|
|   REP|04/01/2019|14.5950|  14.2550| 7089672|103139023.91|14.5950|14.7050|14.3600|14.5892|         true|
|   REP|07/01/2019|14.4750|  14.5950| 4409347| 63898025.48|14.4750|14.6950|14.3300|14.4915|        false|
|   REP|08/01/2019|14.4900|  14.4750|12227338|177321179.12|14.4900|14.7900|14.4400|14.5760|         true|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
only showing top 5 rows

+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|Ticker|      Date|  Close|Reference|  Volume|    Turnover|   Last|   High|    Low|Average|Aumento_valor|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
|   REP|02/01/2019|14.2350|  14.0800|10003999|140210096.55|14.2350|14.3100|13.7850|14.0805|         true|
|   REP|03/01/2019|14.2550|  14.2350|12814838|180613397.06|14.2550|14.3800|14.0250|14.2255|         true|
|   REP|04/01/2019|14.5950|  14.2550| 7089672|103139023.91|14.5950|14.7050|14.3600|14.5892|         true|
|   REP|08/01/2019|14.4900|  14.4750|12227338|177321179.12|14.4900|14.7900|14.4400|14.5760|         true|
|   REP|09/01/2019|14.6950|  14.4900|11410241|166077803.01|14.6950|14.7450|14.4550|14.6345|         true|
+------+----------+-------+---------+--------+------------+-------+-------+-------+-------+-------------+
only showing top 5 rows

In [40]:
df.filter(df.Ticker == "IDR").show()
print(df.filter((df.Ticker == "IDR") & (df.Volume > 500000)).count())
# df.filter((df.Ticker == "IDR") & (df.Volume > 500000)).show(42)

+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
|Ticker|      Date| Close|Reference|Volume|  Turnover|  Last|  High|   Low|Average|Aumento_valor|
+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
|   IDR|02/01/2019|8.1250|   8.2350|554146|4504780.53|8.1250|8.2100|8.0000| 8.1292|        false|
|   IDR|03/01/2019|8.0000|   8.1250|518359|4154868.74|8.0000|8.1350|7.9200| 8.0154|        false|
|   IDR|04/01/2019|8.2050|   8.0000|539367|4389231.91|8.2050|8.2400|8.0400| 8.1377|         true|
|   IDR|07/01/2019|8.0500|   8.2050|776378|6226567.10|8.0500|8.2250|7.8900| 8.0200|        false|
|   IDR|08/01/2019|8.1850|   8.0500|547992|4480941.25|8.1850|8.2650|8.0550| 8.1770|         true|
|   IDR|09/01/2019|8.5800|   8.1850|882949|7544821.85|8.5800|8.7000|8.2500| 8.5442|         true|
|   IDR|10/01/2019|8.5350|   8.5800|351675|3001337.82|8.5350|8.5900|8.4800| 8.5344|        false|
|   IDR|11/01/2019|8.4800|   8.5350|318789|2707001.85|8.4800|8.5850|8.4250| 8.4915|        false|
|   IDR|14/01/2019|8.2950|   8.4800|412988|3434630.64|8.2950|8.5000|8.2450| 8.3229|        false|
|   IDR|15/01/2019|8.3100|   8.2950|311297|2586252.42|8.3100|8.4200|8.2500| 8.3080|         true|
|   IDR|16/01/2019|8.5000|   8.3100|415956|3534841.94|8.5000|8.5700|8.3600| 8.4951|         true|
|   IDR|17/01/2019|8.5750|   8.5000|312950|2683403.19|8.5750|8.6800|8.4200| 8.5745|         true|
|   IDR|18/01/2019|8.7800|   8.5750|461989|4030830.84|8.7800|8.7900|8.6150| 8.7249|         true|
|   IDR|21/01/2019|8.8050|   8.7800|259179|2274940.12|8.8050|8.8100|8.7150| 8.7775|         true|
|   IDR|22/01/2019|8.7650|   8.8050|288035|2524823.27|8.7650|8.8350|8.7200| 8.7657|        false|
|   IDR|23/01/2019|8.8900|   8.7650|352629|3141163.04|8.8900|9.0050|8.6800| 8.9078|         true|
|   IDR|24/01/2019|9.0000|   8.8900|403375|3614762.78|9.0000|9.0550|8.8550| 8.9659|         true|
|   IDR|25/01/2019|9.1200|   9.0000|524044|4775069.58|9.1200|9.1700|9.0150| 9.1108|         true|
|   IDR|28/01/2019|9.0600|   9.1200|352980|3215154.93|9.0600|9.2500|9.0000| 9.1086|        false|
|   IDR|29/01/2019|9.0300|   9.0600|397114|3603341.65|9.0300|9.2100|8.9600| 9.0738|        false|
+------+----------+------+---------+------+----------+------+------+------+-------+-------------+
only showing top 20 rows

132